@keyframes lineheight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes lineround {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
  }
}
@keyframes preloadedzero {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
/* hover-in animations */
@keyframes menu-in {
  /* slide into view */
  0% {
    left: -40px;
  }
  100% {
    left: 205px;
  }
}
@keyframes menu-down {
  /* drop down */
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}
/* hover-out animations */
@keyframes menu-out {
  /* slide out of view */
  0% {
    left: 205px;
  }
  100% {
    left: -40px;
  }
}
@keyframes menu-up {
  /* back up */
  0% {
    height: auto;
  }
  100% {
    height: 0px;
  }
}
@font-face {
  font-family: "Alkhemikal";
  src: url(/fonts/Alkhemikal.ttf);
}
@font-face {
  font-family: "Awfully Digital";
  src: url(/fonts/AwfullyDigital.ttf);
}
@font-face {
  font-family: "Dogica Pixel";
  src: url(/fonts/dogicapixel.ttf);
}
@font-face {
  font-family: "Dogica Pixel Bold";
  src: url(/fonts/dogicapixelbold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Enchanted Sword";
  src: url(/fonts/EnchantedSword.ttf);
}
@font-face {
  font-family: "Kiwi Soda";
  src: url(/fonts/KiwiSoda.ttf);
}
@font-face {
  font-family: "Modern DOS 8x8";
  src: url(/fonts/ModernDOS8x8.ttf);
}
@font-face {
  font-family: "Modern DOS 8x14";
  src: url(/fonts/ModernDOS8x14.ttf);
}
@font-face {
  font-family: "Modern DOS 8x16";
  src: url(/fonts/ModernDOS8x16.ttf);
}
@font-face {
  font-family: "Modern DOS 9x14";
  src: url(/fonts/ModernDOS9x14.ttf);
}
@font-face {
  font-family: "Modern DOS 9x16";
  src: url(/fonts/ModernDOS9x16.ttf);
}
@font-face {
  font-family: "Pixellari";
  src: url(/fonts/Pixellari.ttf);
}
.alkhemikal {
  font-family: "Alkhemikal";
  font-size: 1.35em;
}
.awfullydigital {
  font-family: "Awfully Digital";
  font-size: 1.15em;
}
.dogicapixel {
  font-family: "Dogica Pixel";
}
.dogicapixel b {
  font-family: "Dogica Pixel Bold";
}
.enchantedsword {
  font-family: "Enchanted Sword";
  font-size: 1.65em;
}
.kiwisoda {
  font-family: "Kiwi Soda";
  font-size: 1.35em;
}
.modernDOS-8x8 {
  font-family: "Modern DOS 8x8";
  font-size: 1.35em;
}
.modernDOS-8x14 {
  font-family: "Modern DOS 8x14";
  font-size: 1.35em;
}
.modernDOS-8x16 {
  font-family: "Modern DOS 8x16";
  font-size: 1.35em;
}
.modernDOS-9x14 {
  font-family: "Modern DOS 9x14";
  font-size: 1.35em;
}
.modernDOS-9x16 {
  font-family: "Modern DOS 9x16";
  font-size: 1.35em;
}
.pixellari {
  font-family: "Pixellari";
  font-size: 1.35em;
}
* {
  box-sizing: border-box;
}
#bg2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: lighten;
  /* pattern made by thebabydino
   * https://codepen.io/thebabydino/pen/dyoPdqj */
  height: calc(100vh - 1em);
  background: linear-gradient(#0d031e, #3d1353), radial-gradient(closest-side, #0d031e, #3d1353) 0/1em 1em space;
  opacity: 0.25;
}
body > div.contain {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
}
#caution {
  width: 300px;
  height: fit-content;
  position: absolute;
  bottom: 10px;
  left: -75px;
  z-index: 1;
}
#notice {
  width: 400px;
  position: absolute;
  right: -135px;
  top: -60px;
}
#taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 45px;
  background-color: #2c0b42;
  box-shadow: inset 0 1px 0 0 #56158f, inset 0 2px 0 0 #410066;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
  font-family: "Modern DOS 8x16";
  padding: 7px 6px 7px 5px;
  z-index: 2;
}
#taskbar-start {
  height: 100%;
  font-size: 1.75em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}
#taskbar-start:focus {
  outline: none;
}
#taskbar-start:hover {
  cursor: pointer;
}
#taskbar-start > span.strayOS-i {
  height: 100%;
  display: block;
  height: 85%;
  width: min-content;
  margin-right: 8px;
}
#taskbar-start > span.strayOS-i > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
  image-rendering: smooth;
}
#taskbar-start > span.strayOS-i + span {
  width: min-content;
  display: block;
  color: #33c69b;
}
#taskbar-start:active {
  translate: 4px 4px;
}
.banner {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: -4;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
.banner .window-body {
  padding: 5px;
}
#lipskull-png {
  top: -65px;
  left: 25px;
}
#lipskull-png img {
  width: 200px;
  height: auto;
  image-rendering: smooth!important;
}
#discretion-png {
  right: 205px;
  bottom: 2.5px;
  z-index: -1;
}
#discretion-png img {
  width: 200px;
  height: auto;
}
#broken-screen-png {
  left: -245px;
  bottom: -120px;
}
#broken-screen-png img {
  width: 200px;
  height: auto;
}
#menu-cn {
  position: absolute;
  left: 10px;
  width: 250px;
  height: 365px;
  bottom: -150%;
  transition: 0.25s;
  opacity: 0;
}
#menu-cn.menu-open,
#menu-cn .menu-open {
  bottom: 55px!important;
  transition: 0.5s;
  opacity: 1;
}
#menu-cn #menu {
  height: 100%;
  padding: 1px;
  background-color: #2c0b42;
}
#menu-cn #menu #menu-title {
  display: flex;
  flex-flow: row nowrap;
  width: 357px;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  position: absolute;
  bottom: 0;
  align-items: center;
  translate: 0 26px;
}
#menu-cn #menu #menu-title .title-bar {
  height: 30px;
  width: 100%;
  background: linear-gradient(45deg, #33c69b, #147c6d, #33c69b);
  align-items: center;
  justify-content: unset;
  /*div {
          text-orientation: sideways;
        }*/
}
#menu-cn #menu #menu-title .title-bar-text {
  font-size: 1.7em;
  font-family: "Kiwi Soda";
}
#menu-cn #menu #menu-content-cn {
  width: 250px;
  display: flex;
  flex-flow: row;
  justify-content: right;
}
#menu-cn #menu #menu-content-cn #menu-content {
  width: 220px!important;
  padding: 2px;
  display: flex;
  flex-flow: column;
}
#menu-cn #menu #menu-content-cn #menu-content a#attributions.start-entry {
  color: #33c69b;
  text-decoration: none;
}
#menu-cn #menu #menu-content-cn #menu-content a#attributions.start-entry:hover {
  color: #ae89b7;
}
hr {
  border-color: #147c6d;
  width: 75%;
}
p {
  line-height: 15px;
  text-align: justify;
}
u {
  text-decoration-color: #ae89b7;
  text-underline-offset: 3px;
}
button {
  cursor: pointer;
  font-size: 13px;
}
button > span {
  color: #88b6ae;
  text-decoration: none;
  text-shadow: none;
}
button > span:hover {
  cursor: pointer;
}
#entry {
  width: 250px;
  position: absolute;
  top: -45px;
  right: 260px;
  z-index: -1;
}
#entry .window-body .btns {
  display: flex;
  justify-content: center;
  padding: 12px 8px 8px;
}
#entry .window-body .btns button {
  margin-left: 6px;
  margin-right: 6px;
}
#entry-info {
  width: 200px;
  top: 15px;
  right: 260px;
  position: absolute;
  z-index: -2;
}
#copy {
  font-size: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 220px;
}
#copy .status-bar-field {
  color: #ae89b7;
  margin: 5px 12px 5px 14px;
  font-family: "Dogica Pixel";
  text-align: center;
  background-color: #340c4f;
  height: 22px;
}
#copy .status-bar-field img {
  width: 11px;
  height: 11px;
}
#primary-page {
  width: 650px;
}
.main-wrapper {
  display: flex;
  position: relative;
  z-index: -2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.main-wrapper .shift {
  translate: 115px 0;
}
.start-entry {
  display: flex;
  flex-flow: row;
  padding: 6px;
  margin: 2px;
  color: #33c69b;
  justify-content: left;
  align-items: center;
  font-family: "Modern DOS 9x16";
  position: relative;
  cursor: pointer;
}
.start-entry-main {
  display: inherit;
  align-items: inherit;
}
.start-entry .start-entry-text {
  font-size: 20px;
}
.start-entry .start-entry-more,
.start-entry a.start-entry-more {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 3px 15px 2.5px 12.5px;
  margin: 1px;
  cursor: pointer;
  color: #33c69b;
  text-decoration: none;
}
.start-entry .start-entry-more-cn,
.start-entry a.start-entry-more-cn {
  display: flex;
  z-index: -1;
  position: absolute;
  width: max-content;
  top: 10px;
  flex-flow: column;
  font-size: 15px;
  left: -40px;
  transition: 0.5s;
}
.start-entry .start-entry-more > a,
.start-entry a.start-entry-more > a,
.start-entry .start-entry-more > a ~ a,
.start-entry a.start-entry-more > a ~ a {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.start-entry .start-entry-more-icon img,
.start-entry a.start-entry-more-icon img {
  width: 20px;
  height: auto;
  margin-right: 7px;
}
.start-entry .start-entry-more:hover,
.start-entry a.start-entry-more:hover {
  color: #ae89b7;
}
.start-entry:hover,
.start-entry-more:hover {
  background-color: #0d031e;
}
.start-entry.active {
  background-color: #0d031e;
}
.start-entry.active > .start-entry-main + .start-entry-more-cn {
  transition: 0.5s;
  left: 205px;
}
.start-entry-icon img {
  width: 36px;
  height: auto;
  margin-right: 10px;
  margin-left: 4px;
}
.window-head {
  margin: 0;
  padding: 0;
}
.sfx-access-denied {
  color: #92b19e;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000000000000000000;
  display: flex;
}
#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-color: #0d031e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#preloader:after {
  left: auto;
  right: 0;
}
#preloader .loader_line {
  margin: auto;
  width: 1px;
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.loader_line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #92b19e;
  -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
  -o-animation: lineheight 1000ms ease-in-out 0s forwards;
  animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #586f73;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: lineround 1200ms linear 0s infinite;
  -o-animation: lineround 1200ms linear 0s infinite;
  animation: lineround 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}
.portfolio_list {
  min-height: 50vh;
}
/*hiding all*/
.preloaded .loader_line:after {
  opacity: 0;
}
.preloaded .loader_line {
  opacity: 0;
  height: 100% !important;
}
.preloaded:before,
.preloaded:after {
  -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
  -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
  animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
img,
.start-entry {
  user-select: none;
}
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
/*-------------------------------------------------------
 * credits to 98.css for base win98-like code.
 *             ----------------------
 * Copyright (c) 2020 Jordan Scales <thatjdanisso.cool>
 * https://github.com/jdan/98.css/blob/main/LICENSE
 *             ----------------------
 *
 * code has been modified by myself (strayOS).
 * several additions made by myself (strayOS) as well.
 *---------------------------------------------------*/
/*----------------------------------------
 * lone elements, classes & attributes.
 * -------------------------------------*/
body {
  font-family: "Dogica Pixel";
  font-size: 12px;
  color: #88b6ae;
  background-color: #0d031e;
  background-image: url(/assets/img/circuitboard.png);
  background-repeat: no-repeat;
}
button,
.status-bar-field,
table,
.tree-view,
label[for|=range] {
  font-family: "Modern DOS 8x16";
}
h1 {
  font-size: 23px;
  font-family: "Alkhemikal";
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
th {
  color: #88b6ae;
}
fieldset {
  border-image: url("/assets/img/98css/groupbox-border.svg") 2;
  padding: calc(10px);
  padding-block-start: 8px;
  margin: 0;
}
legend {
  background: #340c4f;
}
label {
  display: inline-flex;
  align-items: center;
}
pre {
  display: block;
  background: #3d1353;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  padding: 12px 8px;
  margin: 0;
}
.vertical-bar {
  width: 4px;
  height: 20px;
  background: #340c4f;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #56158f, inset -2px -2px #240a30, inset 2px 2px #410066;
}
[role="tabpanel"] {
  padding: 14px;
  clear: both;
  background: #340c4f;
  position: relative;
  z-index: 2;
  margin-bottom: 9px;
  box-shadow: inset 1px 1px #56158f, inset 2px 2px #410066, inset -1px -1px #120816, inset -2px -2px #240a30;
}
.sunken-panel {
  box-sizing: border-box;
  overflow: auto;
  background-color: #88b6ae;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  padding: 2px;
}
::-webkit-scrollbar-corner {
  background: #410066;
}
::-webkit-scrollbar-track {
  background-image: url("/assets/img/98css/scrollbar-background.svg");
}
::-webkit-scrollbar-thumb {
  background-color: #410066;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #56158f, inset -2px -2px #240a30, inset 2px 2px #410066;
}
/*----------------------------------------
 * grouped elements & classes.
 * -------------------------------------*/
label,
input,
legend,
textarea,
select,
option,
table,
ul.tree-view,
li[role="tab"] {
  -webkit-font-smoothing: none;
  font-size: 12px;
}
p,
.window-body {
  font-size: 9.4px;
}
::selection,
::-moz-selection {
  color: #33c69b;
  background-color: #0d031e;
}
button,
input[type="submit"],
input[type="reset"] {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 #88b6ae;
  background: #340c4f;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #56158f, inset -2px -2px #240a30, inset 2px 2px #410066;
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}
button.default,
input[type="submit"].default,
input[type="reset"].default {
  box-shadow: inset -2px -2px #120816, inset 1px 1px #120816, inset 2px 2px #56158f, inset -3px -3px #240a30, inset 3px 3px #410066;
}
button:not(:disabled):active,
input[type="submit"]:not(:disabled):active,
input[type="reset"]:not(:disabled):active {
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  text-shadow: 1px 1px #88b6ae;
}
button.default:not(:disabled):active,
input[type="submit"].default:not(:disabled):active,
input[type="reset"].default:not(:disabled):active {
  box-shadow: inset 2px 2px #120816, inset -1px -1px #120816, inset -2px -2px #56158f, inset 3px 3px #240a30, inset -3px -3px #410066;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  border: 0;
}
:disabled,
:disabled + label,
input[readonly],
input[readonly] + label {
  color: #120816;
}
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
:disabled + label {
  text-shadow: 1px 1px 0 #88b6ae;
}
.window,
.tree-view,
table,
.sunken-panel {
  margin: 8px;
}
.tree-view,
table {
  color: #0d031e;
}
[class^="field-row"] + [class^="field-row"] {
  margin-top: 6px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
select,
textarea {
  padding: 3px 4px;
  border: none;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  background-color: #3d1353;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
select {
  height: 21px;
}
input[type="email"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="email"]:read-only,
input[type="tel"]:read-only,
input[type="password"]:read-only,
input[type="text"]:read-only,
input[type="number"]:read-only,
input[type="search"]:read-only,
textarea:disabled {
  background-color: #340c4f;
}
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: none;
}
code,
code * {
  font-family: monospace;
}
/*----------------------------------------
 * nested (less) elements & classes.
 * -------------------------------------*/
/*-------------------------------
 * windows.
 *-----------------------------*/
.window {
  box-shadow: inset -1px -1px #120816, inset 1px 1px #410066, inset -2px -2px #240a30, inset 2px 2px #56158f;
  background: #2c0b42;
  padding: 2px;
}
.window-body {
  padding: 0 8px 0 8px;
}
.window[role="tabpanel"] {
  position: relative;
  z-index: 2;
}
/*---------------------------
 * title bars.
 *-------------------------*/
.title-bar {
  background: linear-gradient(90deg, #33c69b, #147c6d);
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
}
.title-bar.inactive {
  background: linear-gradient(90deg, #92b19e, #586f73);
}
.title-bar-text {
  color: #0d031e;
  letter-spacing: 0;
  margin-right: 24px;
  font-size: 16px;
  margin-left: 5px;
  font-family: "Awfully Digital";
  user-select: none;
}
.title-bar-controls {
  display: flex;
}
.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}
.title-bar-controls button:active {
  padding: 0;
}
.title-bar-controls button:active[aria-label="Minimize"],
.title-bar-controls button:active[aria-label].minimize {
  background-position: bottom 2.5px left 5px;
}
.title-bar-controls button:active[aria-label="Maximize"],
.title-bar-controls button:active[aria-label].maximize {
  background-position: top 3.5px left 4px;
}
.title-bar-controls button:active[aria-label="Maximize"]:disabled,
.title-bar-controls button:active[aria-label].maximize:disabled {
  background-position: top 2.5px left 4px;
}
.title-bar-controls button:active[aria-label="Restore"],
.title-bar-controls button:active[aria-label].restore {
  background-position: top 3px left 4px;
}
.title-bar-controls button:active[aria-label="Help"],
.title-bar-controls button:active[aria-label].help {
  background-position: top 3px left 6px;
}
.title-bar-controls button:active[aria-label="Close"],
.title-bar-controls button:active[aria-label].close {
  margin-left: 2px;
  background-position: top 4px left 5px;
}
.title-bar-controls button:focus {
  outline: none;
}
.title-bar-controls button[aria-label="Minimize"],
.title-bar-controls button[aria-label].minimize {
  background-image: url("/assets/img/98css/minimize.svg");
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
}
.title-bar-controls button[aria-label="Maximize"],
.title-bar-controls button[aria-label].maximize {
  background-image: url("/assets/img/98css/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}
.title-bar-controls button[aria-label="Maximize"]:disabled,
.title-bar-controls button[aria-label].maximize:disabled {
  background-image: url("/assets/img/98css/maximize-disabled.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}
.title-bar-controls button[aria-label="Restore"],
.title-bar-controls button[aria-label].restore {
  background-image: url("/assets/img/98css/restore.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}
.title-bar-controls button[aria-label="Help"],
.title-bar-controls button[aria-label].help {
  background-image: url("/assets/img/98css/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}
.title-bar-controls button[aria-label="Close"],
.title-bar-controls button[aria-label].close {
  margin-left: 2px;
  background-image: url("/assets/img/98css/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}
/*---------------------------
 * tabs.
 *-------------------------*/
menu[role="tablist"] {
  position: relative;
  margin: 0 0 -2px 0;
  text-indent: 0;
  list-style-type: none;
  display: flex;
  padding-left: 3px;
}
menu[role="tablist"] button {
  top: 3px;
  background: #340c4f;
  box-shadow: inset 1px 1px #56158f, inset 2px 2px #410066, inset -1px 0 #120816, inset -2px 0 #240a30;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 2px solid transparent;
  z-index: 1;
  display: block;
  text-decoration: none;
  min-width: unset;
  padding: 3px 12px;
}
menu[role="tablist"] button:first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  border-left: 1px solid #56158f;
  border-right: 1px solid #410066;
}
menu[role="tablist"] button[aria-selected="true"] {
  top: 2px;
  margin-right: -1px;
  padding-bottom: 2px;
  margin-top: -2px;
  background-color: #340c4f;
  position: relative;
  z-index: 8;
  margin-left: -3px;
  margin-bottom: 1px;
}
menu[role="tablist"] button[aria-selected="true"]:first-of-type {
  left: 0;
}
menu[role="tablist"].justified button {
  flex-grow: 1;
  text-align: center;
}
/*---------------------------
 * status bars.
 *-------------------------*/
.status-bar {
  margin: 2px calc(-8px + 2px);
  display: flex;
  gap: 2px;
}
.status-bar-field {
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  flex-grow: 1;
  padding: 3px 4px;
  margin: 0;
  background-color: #2c0b42;
  color: #147c6d;
  font-size: 12px;
}
/*-------------------------------
 * fields.
 *-----------------------------*/
.field-row {
  display: flex;
  align-items: center;
}
.field-row > * + * {
  margin-left: 6px;
}
.field-row-stacked {
  display: flex;
  flex-direction: column;
}
.field-row-stacked * + * {
  margin-top: 6px;
}
/*-------------------------------
 * inputs.
 *-----------------------------*/
input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  line-height: 13px;
}
input[type="radio"] + label {
  position: relative;
  margin-left: calc(18px);
}
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * 18px);
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background: url("/assets/img/98css/radio-border.svg");
}
input[type="radio"]:active + label::before {
  background: url("/assets/img/98css/radio-border-disabled.svg");
}
input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  top: calc(12px / 2 - 4px / 2);
  left: calc(-1 * 18px + 12px / 2 - 4px / 2);
  position: absolute;
  background: url("/assets/img/98css/radio-dot.svg");
}
input[type="radio"][disabled] + label::before {
  background: url("/assets/img/98css/radio-border-disabled.svg");
}
input[type="radio"][disabled]:checked + label::after {
  background: url("/assets/img/98css/radio-dot-disabled.svg");
}
input[type="checkbox"] + label {
  position: relative;
  margin-left: var(--checkbox-total-width);
}
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: calc(-1 * 19px);
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #56158f;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  margin-right: 6px;
}
input[type="checkbox"]:active + label::before {
  background: #340c4f;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  width: var(--checkmark-width);
  height: var(--checkmark-width);
  position: absolute;
  left: calc(-1 * 19px + 3px);
  background: url("/assets/img/98css/checkmark.svg");
}
input[type="checkbox"][disabled] + label::before {
  background: #340c4f;
}
input[type="checkbox"][disabled]:checked + label::after {
  background: url("/assets/img/98css/checkmark-disabled.svg");
}
input[type="number"] {
  /* need this 1 pixel to fit the spinner controls in box */
  height: 22px;
}
input[type="search"] {
  /* clears the ‘X’ from internet explorer */
  /* clears the ‘X’ from chrome */
}
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"] {
  /* for some reason descenders are getting cut off without this */
  line-height: 2;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"].has-box-indicator ::-webkit-slider-thumb {
  background: url("/assets/img/98css/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px);
}
input[type="range"].has-box-indicator::-moz-range-thumb {
  background: url("/assets/img/98css/indicator-rectangle-horizontal.svg");
  transform: translateY(0px);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 21px;
  width: 11px;
  background: url("/assets/img/98css/indicator-horizontal.svg");
  transform: translateY(-8px);
  box-shadow: none;
  border: none;
}
input[type="range"]::-moz-range-thumb {
  height: 21px;
  width: 11px;
  border: 0;
  border-radius: 0;
  background: url("/assets/img/98css/indicator-horizontal.svg");
  transform: translateY(2px);
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: #88b6ae;
  border-right: 1px solid #240a30;
  border-bottom: 1px solid #240a30;
  box-shadow: 1px 0 0 #56158f, 1px 1px 0 #56158f, 0 1px 0 #56158f, -1px 0 0 #410066, -1px -1px 0 #410066, 0 -1px 0 #410066, -1px 1px 0 #56158f, 1px -1px #410066;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: black;
  border-right: 1px solid #240a30;
  border-bottom: 1px solid #240a30;
  box-shadow: 1px 0 0 #56158f, 1px 1px 0 #56158f, 0 1px 0 #56158f, -1px 0 0 #410066, -1px -1px 0 #410066, 0 -1px 0 #410066, -1px 1px 0 #56158f, 1px -1px #410066;
}
/*-------------------------------
 * select elements.
 *-----------------------------*/
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  padding-right: 32px;
  background-image: url("/assets/img/98css/button-down.svg");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
}
select:focus {
  color: #56158f;
  background-color: #147c6d;
}
select:focus option {
  color: #120816;
  background-color: #56158f;
}
select:active {
  background-image: url("/assets/img/98css/button-down-active.svg");
}
/*-------------------------------
 * progress indicators.
 *-----------------------------*/
.progress-indicator {
  height: 32px;
  position: relative;
  box-shadow: inset -2px -2px #410066, inset 2px 2px #240a30;
  padding: 4px 4px;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.progress-indicator > .progress-indicator-bar {
  height: 100%;
  display: block;
  background-color: #147c6d;
}
.progress-indicator.segmented > .progress-indicator-bar {
  width: 100%;
  background-color: transparent;
  /* resets the background color which is set to "blue" in the non-segmented selector */
  background-image: linear-gradient(90deg, #147c6d 0 16px, transparent 0 2px);
  background-repeat: repeat;
  background-size: 18px 100%;
}
/*-------------------------------
 * vertical elements.
 *-----------------------------*/
.is-vertical {
  display: inline-block;
  width: 4px;
  height: 150px;
  transform: translateY(50%);
}
.is-vertical > input[type="range"] {
  width: 150px;
  height: 4px;
  margin: 0 calc(6px + 10px) 0 10px;
  transform-origin: left;
  transform: rotate(270deg) translateX(calc(-50% + 8px));
}
.is-vertical > input[type="range"]::-webkit-slider-runnable-track {
  border-left: 1px solid #240a30;
  border-right: 0;
  border-bottom: 1px solid #240a30;
  box-shadow: -1px 0 0 #56158f, -1px 1px 0 #56158f, 0 1px 0 #56158f, 1px 0 0 #410066, 1px -1px 0 #410066, 0 -1px 0 #410066, 1px 1px 0 #56158f, -1px -1px #410066;
}
.is-vertical > input[type="range"]::-moz-range-track {
  border-left: 1px solid #240a30;
  border-right: 0;
  border-bottom: 1px solid #240a30;
  box-shadow: -1px 0 0 #56158f, -1px 1px 0 #56158f, 0 1px 0 #56158f, 1px 0 0 #410066, 1px -1px 0 #410066, 0 -1px 0 #410066, 1px 1px 0 #56158f, -1px -1px #410066;
}
.is-vertical > input[type="range"]::-webkit-slider-thumb {
  transform: translateY(-8px) scaleX(-1);
}
.is-vertical > input[type="range"].has-box-indicator::-webkit-slider-thumb {
  transform: translateY(-10px) scaleX(-1);
}
.is-vertical > input[type="range"]::-moz-range-thumb {
  transform: translateY(2px) scaleX(-1);
}
.is-vertical > input[type="range"].has-box-indicator::-moz-range-thumb {
  transform: translateY(0px) scaleX(-1);
}
/*-------------------------------
 * anchors / links.
 *-----------------------------*/
a {
  color: #ae89b7;
}
a:focus {
  outline: 1px dotted #ae89b7;
}
/*-------------------------------
 * tree-view elements.
 *-----------------------------*/
ul.tree-view {
  display: block;
  background: #3d1353;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  padding: 6px;
  margin: 0;
}
ul.tree-view li {
  list-style-type: none;
}
ul.tree-view a {
  text-decoration: none;
  color: #88b6ae;
}
ul.tree-view a:focus {
  background-color: #147c6d;
  color: #56158f;
}
ul.tree-view ul,
ul.tree-view li {
  margin-top: 3px;
}
ul.tree-view ul {
  margin-left: 16px;
  padding-left: 16px;
  /* goes down too far */
  border-left: 1.4px dashed #147c6d;
}
ul.tree-view ul > li {
  position: relative;
  /* cover the bottom of the left dotted border */
}
ul.tree-view ul > li::before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1.4px dashed #147c6d;
}
ul.tree-view ul > li:last-child::after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0px;
  width: 8px;
  background: #88b6ae;
}
ul.tree-view ul details > summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1;
}
ul.tree-view details {
  margin-top: 0;
}
ul.tree-view details[open] summary {
  margin-bottom: 0;
}
ul.tree-view details > summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid #147c6d;
  width: 8px;
  height: 9px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #3d1353;
}
ul.tree-view details[open] > summary:before {
  content: "-";
}
ul.tree-view details > summary::marker,
ul.tree-view details > summary::-webkit-details-marker {
  content: "";
}
/*-------------------------------
 * scroll bars.
 *-----------------------------*/
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar:horizontal {
  height: 17px;
}
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}
::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("/assets/img/98css/button-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("/assets/img/98css/button-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("/assets/img/98css/button-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("/assets/img/98css/button-right.svg");
}
/*---------------------------
 * tables.
 *-------------------------*/
table {
  border-collapse: collapse;
  position: relative;
  text-align: left;
  white-space: nowrap;
  background-color: #88b6ae;
}
table > thead > tr > * {
  position: sticky;
  top: 0;
  height: 17px;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #56158f, inset -2px -2px #240a30, inset 2px 2px #410066;
  background: #340c4f;
  box-sizing: border-box;
  font-weight: normal;
  padding: 0 6px;
}
table.interactive > tbody > tr {
  cursor: pointer;
}
table > tbody > tr.highlighted {
  color: #fff;
  background-color: #147c6d;
}
table > tbody > tr > * {
  padding: 0 6px;
  height: 14px;
}
/*----------------------------------------
 * at-rules.
 * -------------------------------------*/
@media (not(hover)) {
  button:not(:disabled):hover,
  input[type="submit"]:not(:disabled):hover,
  input[type="reset"]:not(:disabled):hover {
    box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  }
}
body.crt {
  animation: textShadow 1.6s infinite;
}
body.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(/assets/img/crt/crt.png);
  z-index: 99999;
  opacity: 0.3;
  mix-blend-mode: multiply;
  background-repeat: repeat;
  pointer-events: none;
}
@keyframes textShadow {
  0% {
    text-shadow: 0.43899242px 0 1px rgba(0, 30, 255, 0.25), -0.43899242px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974px 0 1px rgba(0, 30, 255, 0.25), -2.7928974px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956276px 0 1px rgba(0, 30, 255, 0.25), -0.02956276px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218539px 0 1px rgba(0, 30, 255, 0.25), -0.40218539px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(0, 30, 255, 0.25), -3.47940379px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  25% {
    text-shadow: 1.61256304px 0 1px rgba(0, 30, 255, 0.25), -1.61256304px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  30% {
    text-shadow: 0.70155901px 0 1px rgba(0, 30, 255, 0.25), -0.70155901px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  35% {
    text-shadow: 3.89691405px 0 1px rgba(0, 30, 255, 0.25), -3.89691405px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  40% {
    text-shadow: 3.87090561px 0 1px rgba(0, 30, 255, 0.25), -3.87090561px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  45% {
    text-shadow: 2.23105696px 0 1px rgba(0, 30, 255, 0.25), -2.23105696px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429px 0 1px rgba(0, 30, 255, 0.25), -0.0808429px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  55% {
    text-shadow: 2.37584611px 0 1px rgba(0, 30, 255, 0.25), -2.37584611px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  60% {
    text-shadow: 2.20219305px 0 1px rgba(0, 30, 255, 0.25), -2.20219305px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  65% {
    text-shadow: 2.86387806px 0 1px rgba(0, 30, 255, 0.25), -2.86387806px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025px 0 1px rgba(0, 30, 255, 0.25), -0.48874025px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  75% {
    text-shadow: 1.89484913px 0 1px rgba(0, 30, 255, 0.25), -1.89484913px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  80% {
    text-shadow: 0.08330373px 0 1px rgba(0, 30, 255, 0.25), -0.08330373px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827px 0 1px rgba(0, 30, 255, 0.25), -0.09769827px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  90% {
    text-shadow: 3.44333976px 0 1px rgba(0, 30, 255, 0.25), -3.44333976px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  95% {
    text-shadow: 2.18418389px 0 1px rgba(0, 30, 255, 0.25), -2.18418389px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  100% {
    text-shadow: 2.62087645px 0 1px rgba(0, 30, 255, 0.25), -2.62087645px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
}
.outline-focus-offset,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
menu[role="tablist"] button:focus {
  outline: 1.3px dashed #ae89b7;
  outline-offset: -5px;
}
.outline-focus,
summary:focus,
input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
  outline: 1.3px dashed #000000;
}
