/*---------------------------------------------------*
 *    credits to jdan for base win98-style code.     *
 *    ------- [ jdan.github.io/98.css ] -------      *
 *     the css has been very heavily modified.       *
 *---------------------------------------------------*/
/*--------------------------------*
 *           css resets.          *
 *--------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** {
  margin: 0;
}*/
body {
  -webkit-font-smoothing: antialiased;
  /*line-height: 1.5;*/
}
button,
input,
select,
textarea {
  font: inherit;
}
/*canvas, img, picture, svg, video {
  display: block;
  max-width: 100%;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*--------------------------------*
 *        page preloader.         *
 *--------------------------------*/
#preloader {
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000000000000000;
}
#preloader:after,
#preloader:before {
  background-color: #0c031c;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
  width: 50%;
  z-index: -1;
}
#preloader:after {
  left: auto;
  right: 0;
}
#preloader .loader_line {
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  -o-transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  width: 1px;
}
.loader_line:after {
  -o-animation: lineround 1200ms linear 0s infinite;
  -webkit-animation: lineround 1200ms linear 0s infinite;
  animation: lineround 1200ms linear 0s infinite;
  animation-delay: 2000ms;
  background-color: #586f73;
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  top: 0;
  width: 1px;
}
.loader_line:before {
  -o-animation: lineheight 1000ms ease-in-out 0s forwards;
  -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
  animation: lineheight 1000ms ease-in-out 0s forwards;
  background-color: #91b09d;
  content: "";
  left: 0;
  height: 0%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width: 1px;
}
.portfolio_list {
  min-height: 50vh;
}
.preloaded .loader_line {
  height: 100%!important;
  opacity: 0;
}
/*hiding all*/
.preloaded .loader_line:after {
  opacity: 0;
}
.preloaded:after,
.preloaded:before {
  -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
  -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
  animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
/*---------------------------------------*
 *    root / grouped-element altering.   *
 *---------------------------------------*/
::selection,
::-moz-selection {
  color: #33c79a;
  background-color: #0c031c;
}
::-webkit-scrollbar {
  cursor: url(/files/cursors/select.png), pointer;
}
:root,
html {
  font-size: 16px;
}
body {
  background-color: #0c031c;
  background-image: url(/files/circuitboard.png);
  background-repeat: no-repeat;
  color: #88b6ae;
  cursor: url(/files/cursors/pointer.png), default;
  font-family: "Dogica Pixel";
  font-size: 0.77rem;
  scrollbar-color: #5c968c #2c0b42;
  scrollbar-gutter: stable;
}
a {
  color: #ae89b7;
  text-decoration-style: wavy;
  text-underline-offset: 2px;
  transition: 0.5s;
}
a:hover {
  color: #9042a5;
  font-style: italic;
  text-underline-offset: 3px;
  transition: 0.5s;
}
button,
label[for|=range],
table,
.status-bar__field,
.tree-view {
  font-family: "Modern DOS 8x16";
}
code,
code * {
  font-family: monospace;
}
h1,
h2,
h3 {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alkhemikal";
}
h2,
h3,
h4,
h5,
h6 {
  color: #2eb38a;
  text-decoration: underline solid 2px #10665a;
  text-underline-offset: 2.5px;
}
h1 {
  color: #33c79a;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: underline solid 3px #147c6d;
}
h2 {
  font-size: 1.625rem;
  margin-bottom: 6px;
  margin-top: 10px;
  translate: -75px 0;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.375rem;
}
h6 {
  font-size: 1.25rem;
}
hr {
  border-color: #147c6d;
  justify-self: center;
  text-align: center;
  width: 75%;
}
img {
  image-rendering: pixelated;
}
img,
.start__content .entry,
.title-bar__text {
  user-select: none;
}
label,
input,
legend,
textarea,
select,
option,
table,
ul.tree-view,
li[role="tab"] {
  -webkit-font-smoothing: none;
  font-size: 0.75rem;
}
legend {
  background: #340c4f;
}
ul:not(.tree-view) li {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
ul:not(.tree-view) li::before {
  color: #33c79a;
  content: "⛧";
  font-weight: bold;
  margin-right: 10px;
}
p {
  line-height: 18px;
  text-align: justify;
  text-indent: 10px;
}
p + section:has(h1) > h1,
section:not([role="tabpanel"]):has(p:last-child) + section:not([role="tabpanel"]):has(h1) > :first-of-type {
  margin-top: 20px;
}
p,
.window__body {
  font-size: 0.5875rem;
}
pre {
  color: #8dcfb3;
  background: #0c031c;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  display: block;
  font-family: "Modern DOS 8x16";
  padding: 8px 8px;
  white-space: collapse;
  width: 200px;
}
summary:focus {
  outline: 1.3px dashed #ae89b7;
}
table,
.sunken-panel,
.tree-view,
.window {
  margin: 8px;
}
table,
.tree-view {
  color: #0c031c;
}
u {
  text-decoration-color: #ae89b7;
  text-underline-offset: 3px;
}
ul {
  margin-bottom: 15px;
  margin-top: 10px;
}
.contain {
  align-items: center;
  cursor: inherit;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  left: 50%;
  margin: 0;
  overflow: clip;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.sunken-panel {
  background-color: #0c031c;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  box-sizing: border-box;
  color: #8dcfb3;
  overflow: auto;
  padding: 2px;
}
/*--------------------*
 *    CRT mimicry     *
 *--------------------*/
.crt {
  /* applied to body */
  animation: textShadow 1.6s infinite;
}
.crt::before {
  background-image: url(/files/crt.png);
  background-repeat: repeat;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}
/*--------------------*
 * set custom cursors *
 *    for elements    *
 *--------------------*/
a:hover,
button:hover,
input[type="reset"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover {
  cursor: url(/files/cursors/select.png), pointer;
}
a *,
button *,
input[type="reset"]:not(:disabled) *,
input[type="submit"]:not(:disabled) * {
  cursor: inherit;
}
.tooltip__container:hover {
  cursor: url(/files/cursors/question.png), help;
}
.tooltip__container * {
  cursor: inherit;
}
#preloader {
  cursor: url(/files/cursors/hourglass.png), wait;
}
/*---------------------------------------*
 *        direct-element altering.       *
 *---------------------------------------*/
/*--------------------------------*
 *        buttons & inputs.       *
 *--------------------------------*/
button {
  font-size: 0.8125rem;
}
button > span {
  color: #88b6ae;
  text-decoration: none;
  text-shadow: none;
}
button,
input[type="reset"],
input[type="submit"] {
  background: #340c4f;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #56158f, inset -2px -2px #240a30, inset 2px 2px #410066;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 0 12px;
  text-shadow: 0 0 #88b6ae;
}
button:not(:disabled):active,
input[type="reset"]:not(:disabled):active,
input[type="submit"]:not(:disabled):active {
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  color: transparent;
  text-shadow: #88b6ae 1px 1px;
}
button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 1.3px dashed #ae89b7;
  outline-offset: -5px;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
button:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
button:disabled + label,
input[type="reset"]:disabled + label,
input[type="submit"]:disabled + label {
  text-shadow: 1px 1px 0 #88b6ae;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0;
  border: none;
  margin: 0;
  opacity: 0;
  position: fixed;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  line-height: 13px;
}
input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
  outline: 1.3px dashed #ae89b7;
}
input[type="radio"] + label {
  position: relative;
  margin-left: calc(18px);
}
input[type="radio"] + label::before {
  background: url("/files/98svg/radio-border.svg");
  content: "";
  display: inline-block;
  height: 12px;
  left: calc(-1 * 18px);
  margin-right: 6px;
  position: absolute;
  top: 0;
  width: 12px;
}
input[type="radio"]:active + label::before {
  background: url("/files/98svg/radio-border-disabled.svg");
}
input[type="radio"]:checked + label::after {
  background: url("/files/98svg/radio-dot.svg");
  content: "";
  display: block;
  height: 4px;
  left: calc(-1 * 18px + 12px / 2 - 4px / 2);
  position: absolute;
  top: calc(12px / 2 - 4px / 2);
  width: 4px;
}
input[type="radio"][disabled] + label::before {
  background: url("/files/98svg/radio-border-disabled.svg");
}
input[type="radio"][disabled]:checked + label::after {
  background: url("/files/98svg/radio-dot-disabled.svg");
}
input[type="checkbox"] + label {
  margin-left: var(--checkbox-total-width);
  position: relative;
}
input[type="checkbox"] + label::before {
  background: #56158f;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  content: "";
  display: inline-block;
  height: 13px;
  left: calc(-1 * 19px);
  margin-right: 6px;
  position: absolute;
  width: 13px;
}
input[type="checkbox"]:active + label::before {
  background: #340c4f;
}
input[type="checkbox"]:checked + label::after {
  background: url("/files/98svg/checkmark.svg");
  content: "";
  display: block;
  left: calc(-1 * 19px + 3px);
  height: var(--checkmark-width);
  position: absolute;
  width: var(--checkmark-width);
}
input[type="checkbox"][disabled] + label::before {
  background: #340c4f;
}
input[type="checkbox"][disabled]:checked + label::after {
  background: url("/files/98svg/checkmark-disabled.svg");
}
input[type="number"] {
  /* need this 1 pixel to fit the spinner controls in box */
  height: 22px;
}
input[type="search"] {
  /* clears the ‘X’ from internet explorer */
  /* clears the ‘X’ from chrome */
}
input[type="search"]::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"] {
  /* for some reason descenders are getting cut off without this */
  line-height: 2;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"].has-box-indicator ::-webkit-slider-thumb {
  background: url("/files/98svg/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px);
}
input[type="range"].has-box-indicator::-moz-range-thumb {
  background: url("/files/98svg/indicator-rectangle-horizontal.svg");
  transform: translateY(0px);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: url("/files/98svg/indicator-horizontal.svg");
  border: none;
  box-shadow: none;
  height: 21px;
  transform: translateY(-8px);
  width: 11px;
}
input[type="range"]::-moz-range-thumb {
  background: url("/files/98svg/indicator-horizontal.svg");
  border: 0;
  border-radius: 0;
  height: 21px;
  transform: translateY(2px);
  width: 11px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #88b6ae;
  border-bottom: 1px solid #240a30;
  border-right: 1px solid #240a30;
  box-shadow: 1px 0 0 #56158f, 1px 1px 0 #56158f, 0 1px 0 #56158f, -1px 0 0 #410066, -1px -1px 0 #410066, 0 -1px 0 #410066, -1px 1px 0 #56158f, 1px -1px #410066;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
}
input[type="range"]::-moz-range-track {
  background: black;
  border-bottom: 1px solid #240a30;
  border-right: 1px solid #240a30;
  box-shadow: 1px 0 0 #56158f, 1px 1px 0 #56158f, 0 1px 0 #56158f, -1px 0 0 #410066, -1px -1px 0 #410066, 0 -1px 0 #410066, -1px 1px 0 #56158f, 1px -1px #410066;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0c031c;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  padding: 3px 4px;
}
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
select {
  height: 21px;
}
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="email"]:read-only,
input[type="number"]:read-only,
input[type="password"]:read-only,
input[type="search"]:read-only,
input[type="tel"]:read-only,
input[type="text"]:read-only,
textarea:disabled {
  background-color: #340c4f;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: none;
}
:disabled,
:disabled + label,
input[readonly],
input[readonly] + label {
  color: #120816;
}
label {
  align-items: center;
  display: inline-flex;
}
.field-row {
  display: flex;
  align-items: center;
}
.field-row > * + * {
  margin-left: 6px;
}
.field-row--stacked {
  display: flex;
  flex-direction: column;
}
.field-row--stacked * + * {
  margin-top: 6px;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/files/98svg/button-down.svg");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
  padding-right: 32px;
  position: relative;
}
select:focus {
  background-color: #147c6d;
  color: #56158f;
}
select:focus option {
  background-color: #56158f;
  color: #120816;
}
select:active {
  background-image: url("/files/98svg/button-down-active.svg");
}
.progress-indicator {
  height: 32px;
  position: relative;
  box-shadow: inset -2px -2px #410066, inset 2px 2px #240a30;
  padding: 4px 4px;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.progress-indicator > .progress-indicator-bar {
  height: 100%;
  display: block;
  background-color: #147c6d;
}
.progress-indicator.segmented > .progress-indicator-bar {
  width: 100%;
  background-color: transparent;
  /* resets the background color which is set to "blue" in the non-segmented selector */
  background-image: linear-gradient(90deg, #147c6d 0 16px, transparent 0 2px);
  background-repeat: repeat;
  background-size: 18px 100%;
}
.is-vertical {
  display: inline-block;
  height: 150px;
  transform: translateY(50%);
  width: 4px;
}
.is-vertical > input[type="range"] {
  height: 4px;
  margin: 0 calc(6px + 10px) 0 10px;
  transform: rotate(270deg) translateX(calc -42%);
  transform-origin: left;
  width: 150px;
}
.is-vertical > input[type="range"]::-webkit-slider-runnable-track {
  border-bottom: 1px solid #240a30;
  border-left: 1px solid #240a30;
  border-right: 0;
  box-shadow: -1px 0 0 #56158f, -1px 1px 0 #56158f, 0 1px 0 #56158f, 1px 0 0 #410066, 1px -1px 0 #410066, 0 -1px 0 #410066, 1px 1px 0 #56158f, -1px -1px #410066;
}
.is-vertical > input[type="range"]::-moz-range-track {
  border-left: 1px solid #240a30;
  border-right: 0;
  border-bottom: 1px solid #240a30;
  box-shadow: -1px 0 0 #56158f, -1px 1px 0 #56158f, 0 1px 0 #56158f, 1px 0 0 #410066, 1px -1px 0 #410066, 0 -1px 0 #410066, 1px 1px 0 #56158f, -1px -1px #410066;
}
.is-vertical > input[type="range"]::-webkit-slider-thumb {
  transform: translateY(-8px) scaleX(-1);
}
.is-vertical > input[type="range"].has-box-indicator::-webkit-slider-thumb {
  transform: translateY(-10px) scaleX(-1);
}
.is-vertical > input[type="range"]::-moz-range-thumb {
  transform: translateY(2px) scaleX(-1);
}
.is-vertical > input[type="range"].has-box-indicator::-moz-range-thumb {
  transform: translateY(0px) scaleX(-1);
}
/*---------------------------------------*
 *           class & ID altering.        *
 *---------------------------------------*/
/*--------------------------------*
 *            assets.             *
 *--------------------------------*/
/*--------------------*
 *      banners       *
 *--------------------*/
.banner {
  height: fit-content;
  position: absolute;
  width: fit-content;
  z-index: -4;
}
.banner .window__body {
  padding: 0 2px 2px 2px;
}
.banner__broken-screen {
  animation: floater 3s ease-in-out infinite;
  bottom: -120px;
  left: -245px;
}
.banner__broken-screen img {
  height: auto;
  width: 200px;
}
.banner__coronet {
  animation: floater 3s ease-in-out infinite;
  left: -145px;
  top: 215px;
}
.banner__coronet img {
  height: 220px;
  width: auto;
}
.banner__discretion {
  bottom: 2.5px;
  right: 205px;
  z-index: -2;
}
.banner__discretion img {
  height: auto;
  width: 200px;
}
.banner__earth-smiled {
  animation: floater 3s ease-in-out infinite;
  left: -170px;
  top: 200px;
  z-index: -2;
}
.banner__earth-smiled img {
  height: auto;
  width: auto;
}
.banner__ilex {
  animation: floater 3s ease-in-out infinite;
  right: -300px;
  top: -120px;
}
.banner__ilex img {
  width: 350px;
}
.banner__jupiter {
  animation: floater 3s ease-in-out infinite;
  left: 140px;
  top: -35px;
  z-index: -2;
}
.banner__jupiter img {
  height: auto;
  width: 225px;
}
.banner__pmd-menu--1 {
  animation: floater 3s ease-in-out infinite;
  left: 80px;
  top: -55px;
  z-index: -2;
}
.banner__pmd-menu--1 img {
  height: auto;
  width: auto;
}
.banner__ryqz {
  animation: floater 3s ease-in-out infinite;
  left: 50px;
  top: -55px;
}
.banner__ryqz img {
  height: auto;
  width: 200px;
}
/*--------------------*
 *      webrings      *
 *--------------------*/
#webrings {
  display: flex;
  flex-flow: row wrap;
  margin-left: 25px;
}
#webrings div {
  margin: 5px;
}
#webrings div#roboring a {
  border: 1px #33c79a solid;
  background-color: #0c031c;
  color: #33c79a;
  margin: 2px;
  padding: 5px;
  text-decoration-line: none;
  transition: 1s;
}
#webrings div#roboring a:hover {
  transform: scale(1.2);
  transition: 1s;
}
#webrings div#noAI {
  filter: hue-rotate(280deg) contrast(350%);
}
/*--------------------*
 *      webrings      *
 *--------------------*/
.sOS__button {
  width: 88px;
  height: 31px;
}
.sOS__btn--wrap {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.sOS__btn--wrap div {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4px;
}
/*--------------------------------*
 *           brief post.          *
 *--------------------------------*/
#changelog {
  left: 130px;
}
#changelog .sunken-panel {
  height: 320px;
  margin-top: 3px;
}
#microblog {
  left: 165px;
}
#microblog .sunken-panel {
  height: 303.25px;
  margin-top: 2px;
}
#microblog .status-bar {
  margin-top: -1px;
}
.briefpost__container {
  /* containers:                        *
   * #changelog-posts, #microblog-posts */
  height: 100%;
  overflow-y: scroll;
  padding: 15px;
}
.briefpost__container .briefpost {
  display: flex;
  flex-flow: column;
}
.briefpost__container .briefpost p {
  line-height: 14px;
  text-indent: 0;
}
.briefpost__container hr {
  border-color: #147c6d;
  margin-bottom: 20px;
  margin-top: 10px;
}
.briefpost__head {
  align-items: end;
  border-bottom: #33c79a 3px double;
  display: flex;
  flex-flow: row;
  font-style: oblique;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.briefpost__head .briefpost__title {
  margin-left: 3px;
  margin-right: 3px;
  text-align: left;
}
.briefpost__head .briefpost__title div {
  margin: 3px 0;
}
.briefpost__head .briefpost__title div:first-of-type {
  margin-top: 0;
}
.briefpost__head .briefpost__title div:last-of-type {
  margin-bottom: 0;
}
.briefpost__head .briefpost__time {
  margin-left: 3px;
  margin-right: 3px;
  text-align: right;
}
/*--------------------------------*
 *             helpers.           *
 *--------------------------------*/
.bundle {
  /* elements that are bundled *
   *      with one-another     */
  position: relative;
}
.bundle__root,
.bundle__attr {
  /*     bundles for /root     */
}
.bundle__root--01,
.bundle__attr--01 {
  bottom: 230px;
  left: -460px;
}
.bundle__root--02,
.bundle__attr--02 {
  bottom: 265px;
  left: 250px;
}
.bundle__attr {
  /*        bundles for        *
     *       /attributions.      */
}
.bundle__attr--01 {
  bottom: 230px;
  left: -460px;
}
.bundle__attr--02 {
  bottom: 175px;
  left: 250px;
}
.main-wrapper {
  bottom: 0;
  display: flex;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  z-index: -2;
}
.pink {
  color: #ae89b7;
}
.shift {
  /*     no default properties.     *
   *     the uses are simply to     * 
   *     assist in element          *
   *     positioning.               *
   *     will soley be used in      *
   *     junction with other        *
   *     classes/IDs/attributes     */
}
.shift--index {
  translate: 130px -30px;
}
.shift--not-found {
  translate: -85px -40px;
}
.shift--root {
  translate: -100px -5px;
}
.smooth {
  image-rendering: smooth;
}
/*--------------------------------*
 *           start menu.          *
 *--------------------------------*/
.start {
  /* #startmenu */
  bottom: -150%;
  display: flex;
  flex-flow: row nowrap;
  height: 365px;
  justify-content: left;
  left: 10px;
  position: absolute;
  transition: 0.25s;
  visibility: hidden;
  width: 250px;
}
.start.window {
  overflow: visible;
}
#startmenu.open,
#changelog.open,
#microblog.open {
  bottom: 55px!important;
  transition: 0.5s;
  visibility: visible;
}
.start__head {
  margin: 2px;
  padding: 0;
  writing-mode: sideways-lr;
}
.start__head .title-bar {
  align-items: center;
  background: linear-gradient(45deg, #33c79a, #147c6d, #33c79a);
  width: 1.85rem;
}
.start__head .title-bar__text {
  font-family: "Kiwi Soda";
  font-size: 1.8em;
  margin-right: 0.125rem;
  margin-bottom: 0.3125rem;
  margin: 0 0.075rem 0.3125rem 0;
}
.start__content {
  /* children:                    *
   * #systemBIOS, #logs,          *
   * #repositories, #attributions */
  display: flex;
  flex-flow: column;
  justify-content: right;
  width: 100%;
}
.start__content .entry__container {
  align-items: center;
  color: #33c79a;
  cursor: url(/files/cursors/select.png), pointer;
  display: flex;
  flex-flow: row;
  font-family: "Modern DOS 8x16";
  justify-content: left;
  margin: 2px 2px 2px 0;
  position: relative;
}
.start__content .entry__container .entry {
  align-items: inherit;
  display: inherit;
  padding: 8px;
  transition: 0.25s;
  width: 100%;
}
.start__content .entry__container .entry .entry--icon {
  align-items: center;
  display: flex;
  margin-left: 2px;
}
.start__content .entry__container .entry .entry--icon img {
  height: auto;
  width: 36px;
}
.start__content .entry__container .entry .entry--text {
  font-size: 1.75em;
  margin-left: 12px;
}
.start__content .entry__container .entry:hover {
  background-color: #0c031c;
  transition: 0.15s;
}
.subentry__container {
  /* children:                           *
   * #submenu_systemBIOS, #submenu_logs, *
   * #submenu_repositories               */
  display: flex;
  flex-flow: column;
  font-size: 0.9375rem;
  left: -40px;
  position: absolute;
  transition: 0.5s;
  top: 10px;
  width: max-content;
  z-index: -1;
}
.subentry__container .sub-entry {
  align-items: center;
  color: #33c79a;
  cursor: url(/files/cursors/select.png), pointer;
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
  justify-content: left;
  margin: 1px;
  padding: 3px 15px 2.5px 12.5px;
  text-decoration: none;
  width: 100%;
}
.subentry__container .sub-entry > a,
.subentry__container .sub-entry > a ~ a {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}
.subentry__container .sub-entry:hover {
  background-color: #0c031c;
  color: #ae89b7;
}
.subentry__container .sub-entry .entry--icon img {
  height: auto;
  margin-right: 7px;
  width: 20px;
}
#attributions {
  color: #33c79a;
  text-decoration: none;
}
#attributions:hover {
  color: #ae89b7;
}
.entry__container.open {
  background-color: #0c031c;
}
.entry__container.open > .entry + .subentry__container {
  transition: 0.5s;
  left: 205px;
}
.copyheart {
  bottom: 0;
  font-size: 8px;
  position: absolute;
  right: 0;
  width: 220px;
}
.copyheart .status-bar__field {
  color: #ae89b7;
  background-color: #340c4f;
  font-family: "Dogica Pixel";
  font-size: 0.7rem;
  height: 22px;
  margin: 2.5px 3.5px 2.5px 4.75px;
  padding: 4.5px;
  text-align: center;
}
.entry__container.sfx-access-denied {
  color: #91b09d;
}
/*--------------------------------*
 *           start menu.          *
 *--------------------------------*/
.status-bar {
  margin: 3px;
  display: flex;
  gap: 2px;
}
.status-bar__field {
  background-color: #2c0b42;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  color: #147c6d;
  flex-grow: 1;
  font-size: 12px;
  height: 18px;
  margin: 0;
  padding: 3px 4px;
}
/*--------------------------------*
 *            tables.             *
 *--------------------------------*/
table {
  background-color: #88b6ae;
  border-collapse: collapse;
  position: relative;
  text-align: left;
  white-space: nowrap;
}
table > thead > tr > * {
  background: #340c4f;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #56158f, inset -2px -2px #240a30, inset 2px 2px #410066;
  box-sizing: border-box;
  font-weight: normal;
  height: 17px;
  padding: 0 6px;
  position: sticky;
  top: 0;
}
table.interactive > tbody > tr {
  cursor: url(/files/cursors/select.png), pointer;
}
table > tbody > tr.highlighted {
  background-color: #147c6d;
  color: #fff;
}
table > tbody > tr > * {
  height: 14px;
  padding: 0 6px;
}
/*--------------------------------*
 *              tabs.             *
 *--------------------------------*/
menu[role="tablist"] {
  display: flex;
  list-style-type: none;
  margin: 0 0 -2px 0;
  padding-left: 3px;
  position: relative;
  text-indent: 0;
}
menu[role="tablist"] button {
  background: #340c4f;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset 1px 1px #56158f, inset 2px 2px #410066, inset -1px 0 #120816, inset -2px 0 #240a30;
  color: #91b09d;
  display: block;
  min-width: unset;
  padding: 3px 12px;
  text-decoration: none;
  transition: 0.25s;
  top: 3px;
  z-index: 1;
}
menu[role="tablist"] button:active {
  color: transparent;
  outline: 1.3px dashed #ae89b7;
  outline-offset: -5px;
  text-shadow: #33c79a;
}
menu[role="tablist"] button:active:hover {
  color: transparent;
}
menu[role="tablist"] button:hover:not(.active) {
  color: #586f73;
  transition: 0.25s;
}
menu[role="tablist"] button:first-of-type::before {
  border-left: 1px solid #56158f;
  border-right: 1px solid #410066;
  content: "";
  display: block;
  left: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  width: 0;
  z-index: -1;
}
menu[role="tablist"] button:focus {
  outline: none;
}
menu[role="tablist"] button.active {
  color: #33c79a;
  background-color: #340c4f;
  margin: -2px -1px 1px -3px;
  padding-bottom: 2px;
  position: relative;
  top: 2px;
  z-index: 8;
}
menu[role="tablist"] button.active:first-of-type {
  left: 0;
}
[role="tablist"].justified button {
  flex-grow: 1;
  text-align: center;
}
[role="tabpanel"] {
  background: #340c4f;
  box-shadow: inset 1px 1px #56158f, inset 2px 2px #410066, inset -1px -1px #120816, inset -2px -2px #240a30;
  clear: both;
  margin-bottom: 9px;
  padding: 14px;
  position: relative;
  z-index: 2;
}
.tab__group {
  margin-top: 5px;
}
.tab__contents {
  /* children: tab__panel */
}
.tab__contents .tab__panel {
  display: none;
}
.tab__contents .tab__panel.active {
  display: block;
}
.tab__contents .tab__panel--scroll {
  /* only child elements */
  overflow-y: scroll;
}
/*--------------------------------*
 *            taskbar.            *
 *--------------------------------*/
.taskbar {
  /* children:                         *
   * #start-toggle, #microblog-toggle, *
   * #changelog-toggle, #return-home   */
  align-items: center;
  background-color: #2c0b42;
  bottom: 0;
  box-shadow: inset 0 1px 0 0 #56158f, inset 0 2px 0 0 #410066;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Modern DOS 8x16";
  height: 45px;
  justify-content: left;
  left: 0;
  padding: 7px 6px 7px 5px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2;
}
.taskbar .tooltip__container {
  height: 100%;
}
.taskbar .tooltip__container.top .tooltip {
  top: -50px;
  left: -50px;
}
.taskbar__divider {
  width: 7px;
  height: 100%;
  margin: 0 5px;
}
#start-toggle img {
  margin-left: -5px;
  padding: 5.5px 0;
}
#return-home,
#start-toggle {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.75em;
  height: 100%;
  justify-content: left;
}
#return-home:focus,
#start-toggle:focus {
  outline: none;
}
#return-home:hover,
#start-toggle:hover {
  cursor: url(/files/cursors/select.png), pointer;
}
#return-home:active span,
#start-toggle:active span {
  color: transparent!important;
  text-shadow: #33c79a 1px 1px;
}
#return-home:active img,
#start-toggle:active img {
  translate: 2px 2px;
}
#return-home {
  justify-content: center;
  min-width: 0;
  padding: 4px;
}
#return-home .tooltip {
  left: -90px;
}
.taskbar__icon {
  display: block;
  height: 100%;
  margin: 0;
  width: min-content;
}
.taskbar__icon > img {
  height: 100%;
  margin: 0 auto;
  width: auto;
}
#start-toggle > .taskbar__icon {
  margin-right: 8px;
}
#start-toggle > .taskbar__icon + span {
  width: min-content;
  display: block;
  color: #33c79a;
}
/*--------------------------------*
 *           tooltips.            *
 *--------------------------------*/
.tooltip__container {
  display: inline-block;
  position: relative;
  text-decoration: 2px dotted underline #ae89b7;
  text-indent: 0;
  text-underline-offset: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.tooltip__container:hover {
  text-decoration: 1px dotted underline #0c031c;
  transition: all 0.3s ease-in-out;
}
.sunken-panel .tooltip__container:hover,
.tree-view .tooltip__container:hover {
  text-decoration-color: #33c79a;
}
.tooltip__container .tooltip {
  background-color: #2c0b42;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #410066, inset -2px -2px #240a30, inset 2px 2px #56158f;
  color: #88b6ae;
  visibility: hidden;
  opacity: 0.4;
  min-width: 50px;
  width: max-content;
  max-width: 250px;
  position: absolute;
  padding: 10px;
  top: -140%;
  left: -25%;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Modern DOS 8x16";
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.tooltip__container:hover .tooltip {
  animation: hoverOS 1s ease-in-out infinite alternate;
  opacity: 1;
  transform: translateY(-10px);
  transition: 0.3s linear;
  visibility: visible;
}
.tooltip__container.top .tooltip {
  top: -50px;
}
.tooltip__container.left .tooltip {
  left: -170%;
  top: -20%;
}
.tooltip__container.left .tooltip::after {
  left: 90%;
  top: 40%;
  transform: rotate(-90deg);
}
.tooltip__container.bottom .tooltip {
  left: -20%;
  top: 115%;
}
.tooltip__container.bottom .tooltip::after {
  left: 40%;
  top: -17%;
  transform: rotate(180deg);
}
.tooltip__container.right .tooltip {
  left: 115%;
  top: -20%;
}
.tooltip__container.right .tooltip::after {
  left: -12%;
  top: 40%;
  transform: rotate(90deg);
}
/*--------------------------------*
 *           treeview.            *
 *--------------------------------*/
ul.tree-view {
  background: #0c031c;
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #240a30, inset -2px -2px #410066, inset 2px 2px #120816;
  display: block;
  font-size: 0.95rem;
  margin: 0;
  padding: 6px 12px;
}
ul.tree-view li {
  list-style-type: none;
}
ul.tree-view a {
  color: #8dcfb3;
  text-decoration: none;
  transition: 0.5s;
}
ul.tree-view a:hover {
  text-decoration: 1px wavy underline #85d7b4;
  text-underline-offset: 2px;
  transition: 0.5s;
}
ul.tree-view ul,
ul.tree-view li {
  margin-top: 3px;
}
ul.tree-view ul {
  /* goes down too far */
  border-left: 1.4px dashed #33c79a;
  margin-left: 16px;
  padding-left: 16px;
}
ul.tree-view ul > li {
  position: relative;
  /* cover the bottom of the left dotted border */
}
ul.tree-view ul > li::before {
  border-bottom: 1.4px dashed #33c79a;
  content: "";
  display: block;
  left: -16px;
  position: absolute;
  top: 6px;
  width: 12px;
}
ul.tree-view ul > li:last-child::after {
  background: #0c031c;
  bottom: 0px;
  content: "";
  display: block;
  left: -20px;
  position: absolute;
  top: 7px;
  width: 8px;
}
ul.tree-view ul details > summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1;
}
ul.tree-view details {
  margin-top: 0;
}
ul.tree-view details[open] summary {
  margin-bottom: 0;
}
ul.tree-view details > summary:before {
  background-color: #0c031c;
  border: 1px solid #33c79a;
  content: "+";
  display: block;
  float: left;
  height: 9px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  text-align: center;
  width: 8px;
}
ul.tree-view details[open] > summary:before {
  content: "-";
}
ul.tree-view details > summary::marker,
ul.tree-view details > summary::-webkit-details-marker {
  content: "";
}
/*--------------------------------*
 *            windows.            *
 *--------------------------------*/
.window {
  background: #2c0b42;
  box-shadow: inset -1px -1px #120816, inset 1px 1px #410066, inset -2px -2px #240a30, inset 2px 2px #56158f;
  padding: 2px;
}
.window__body {
  padding: 2px 8px 2px 8px;
}
.window__body--scroll {
  /* either child element, *
       * or same element       */
  overflow-y: scroll;
}
.window[role="tabpanel"] {
  position: relative;
  z-index: 2;
}
.window__head {
  /* children: .title-bar */
  height: 22px;
  margin: 2px;
}
.window__foot {
  /* children: .status-bar */
  margin: 4px 2px 2px 2px;
}
.title-bar {
  align-items: center;
  background: linear-gradient(90deg, #33c79a, #33c79a, #147c6d);
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
}
.title-bar--inactive {
  background: linear-gradient(90deg, #91b09d, #91b09d, #586f73);
}
.title-bar__text {
  align-items: center;
  color: #0c031c;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Awfully Digital";
  font-size: 1rem;
  justify-content: left;
  letter-spacing: 0;
  margin-left: 0.3125rem;
  margin-right: 1.5rem;
}
.title-bar__text--icon {
  height: 0.875rem;
  image-rendering: smooth;
  width: auto;
}
.title-bar__controls {
  display: flex;
}
.title-bar__controls button {
  display: block;
  min-height: 0.875rem;
  min-width: 1rem;
  padding: 0;
}
.title-bar__controls button:focus {
  outline: none;
}
/*---------------------*
 *  default windows in *
 *    general pages    *
 *---------------------*/
.window--primary {
  height: 500px;
  position: absolute;
  width: 650px;
  z-index: -1;
}
.window--primary__01 {
  bottom: -225px;
  left: -225px;
}
.window--secondary {
  height: 500px;
  position: absolute;
  width: 315px;
  z-index: -1;
}
/*---------------------*
 *  title bar control  *
 *       buttons       *
 *---------------------*/
[aria-label="Minimize"] {
  background-image: url("/files/98svg/minimize.svg");
  background-position: bottom 3px left 4px;
  background-repeat: no-repeat;
}
button:active [aria-label="Minimize"] {
  background-position: bottom 2.5px left 5px;
}
[aria-label="Maximize"] {
  background-image: url("/files/98svg/maximize.svg");
  background-position: top 2px left 3px;
  background-repeat: no-repeat;
}
[aria-label="Maximize"]:disabled {
  background-image: url("/files/98svg/maximize-disabled.svg");
  background-position: top 2px left 3px;
  background-repeat: no-repeat;
}
button:active [aria-label="Maximize"] {
  background-position: top 3.5px left 4px;
}
[aria-label="Restore"] {
  background-image: url("/files/98svg/restore.svg");
  background-position: top 2px left 3px;
  background-repeat: no-repeat;
}
button:active [aria-label="Restore"] {
  background-position: top 3px left 4px;
}
[aria-label="Help"] {
  background-image: url("/files/98svg/help.svg");
  background-position: top 2px left 5px;
  background-repeat: no-repeat;
}
button:active [aria-label="Help"] {
  background-position: top 3px left 6px;
}
[aria-label="Close"] {
  background-image: url("/files/98svg/close.svg");
  background-position: top 3px left 4px;
  background-repeat: no-repeat;
  margin-left: 2px;
}
button:active [aria-label="Close"] {
  margin-left: 2px;
  background-position: top 4px left 5px;
}
/*---------------------------------------*
 *            page-specific.             *
 *---------------------------------------*/
/*--------------------------------*
 *             /index.            *
 *--------------------------------*/
.window--caution {
  bottom: 10px;
  height: fit-content;
  left: -75px;
  position: absolute;
  width: 300px;
  z-index: 1;
}
.window--notice {
  position: absolute;
  right: -135px;
  top: -60px;
  width: 400px;
}
.window--entry {
  position: absolute;
  right: 210px;
  top: -40px;
  width: 325px;
  z-index: -1;
}
.window--entry .window__body .btns {
  display: flex;
  justify-content: center;
  padding: 12px 8px 8px;
}
.window--entry .window__body .btns button {
  margin-left: 6px;
  margin-right: 6px;
}
.window--entry-info {
  animation: floater 3s ease-in-out infinite;
  position: absolute;
  right: 260px;
  top: 25px;
  width: 200px;
  z-index: -2;
}
/*--------------------------------*
 *             /root.             *
 *--------------------------------*/
.window--root.window--primary {
  top: -65px;
}
.window--root.window--primary hr {
  margin-top: 15px;
}
.window--root.window--primary .tab__panel {
  margin-bottom: 0;
}
.window--root.window--primary .flexroot {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}
.window--root.window--primary .flexroot > div.decor {
  align-items: end;
  display: flex;
  justify-content: center;
  width: 30%;
}
.window--root.window--primary .flexroot > div.decor div {
  background-image: url(/files/banners/rib-heart.png);
  background-position-x: center;
  height: 208px;
  margin: 10px 10px 15px;
  padding: 0;
  overflow: hidden;
  width: 170px;
}
.window--root.window--primary .flexroot > div.todo {
  display: flex;
  flex-flow: column;
  width: 70%;
}
.window--root.window--primary .flexroot > div.todo .sunken-panel {
  margin: 5px;
}
.window--root.window--primary .status-bar {
  margin-top: 5px;
}
.window--root.window--primary .window__body {
  height: calc(100% - (22px + 18px + 12px));
  margin-bottom: 5px;
  overflow-y: scroll;
}
.window--root.window--secondary {
  left: -10px;
}
.window--root.window--secondary .window__body {
  height: calc(100% - (22px + 18px + 12px));
  overflow-y: hidden;
}
.window--root.window--secondary .window__body .sunken-panel {
  height: 330px;
  margin: 8px 0 0 0;
}
.todo {
  font-weight: bold;
  overflow: visible;
}
.todo .tooltip__container.top .tooltip {
  left: -50px;
  top: -40px;
}
.todo.homeshift {
  margin-left: 20px;
}
.todo .sunken-panel {
  overflow: visible;
  padding-left: 5px;
}
.guestlog {
  box-shadow: inset -1px -1px #56158f, inset 1px 1px #120816, inset -2px -2px #410066, inset 2px 2px #240a30;
  height: fit-content;
  translate: -5px 0;
}
.guestlog iframe {
  height: 260px;
  width: 280px;
}
.site-stats .status-bar-field {
  color: #33c79a;
}
.desktop {
  display: flex;
  flex-flow: row wrap;
  left: 0;
  margin: 10px 0 0 5px;
  position: absolute;
  top: 0;
  width: 250px;
}
.desktop__item {
  color: #88b6ae;
  display: flex;
  flex-flow: column;
  font-family: "Modern DOS 8x16";
  justify-content: center;
  margin: 10px 5px 10px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}
.desktop__item div {
  margin: 2.5px;
  padding: 2.5px;
}
.desktop__item:hover {
  color: #ae89b7;
  cursor: url(/files/cursors/select.png), pointer;
  font-style: italic;
  transition: 1s;
  translate: 0 -3px;
}
.desktop__item:active div {
  background-color: hsla(162, 59%, 49%, 0.45);
  color: #0c031c;
  outline: 1.3px dashed #ae89b7;
}
/*--------------------------------*
 *         /attributions.         *
 *--------------------------------*/
.window--attr.window--primary {
  top: -65px;
}
.window--attr.window--primary h1 ~ p {
  margin-left: 20px;
  margin-right: 20px;
}
.window--attr.window--primary .window__body {
  height: calc(100% - (22px + 18px + 12px));
  overflow-y: hidden;
}
.window--attr.window--primary .window__body article {
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  scroll-behavior: smooth;
}
.window--attr.window--secondary {
  height: 275px;
  left: 20px;
  width: 215px;
}
.attr__fonts {
  vertical-align: middle;
}
.alkhem {
  font-family: "Alkhemikal";
  font-size: 1.2rem;
}
.awful {
  font-family: "Awfully Digital";
  font-size: 1.05rem;
}
.dog {
  font-size: 0.825rem;
}
.kiwi {
  font-family: "Kiwi Soda";
  font-size: 1.15rem;
}
.dos {
  font-family: "Modern DOS 8x16";
  font-size: 1.05rem;
}
/*--------------------------------*
 *           /not_found.          *
 *--------------------------------*/
.window--not-found {
  width: 400px;
  position: absolute;
  left: -200px;
  top: -50px;
}
/*---------------------------------------*
 *              at-rules.                *
 *---------------------------------------*/
/*--------------------------------*
 *           keyframes.           *
 *--------------------------------*/
@keyframes hoverOS {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(1px);
  }
}
@keyframes floater {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
/*---------------------------*
 *   preloader animation     *
 *        keyframes.         *
 *---------------------------*/
@keyframes lineheight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes lineround {
  0% {
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
}
@keyframes preloadedzero {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
/*--------------------*
 *    CRT mimicry     *
 *     keyframes      *
 *--------------------*/
@keyframes textShadow {
  0% {
    text-shadow: 0.43899242px 0 1px rgba(0, 30, 255, 0.2), -0.43899242px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974px 0 1px rgba(0, 30, 255, 0.2), -2.7928974px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956276px 0 1px rgba(0, 30, 255, 0.2), -0.02956276px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218539px 0 1px rgba(0, 30, 255, 0.2), -0.40218539px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(0, 30, 255, 0.2), -3.47940379px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  25% {
    text-shadow: 1.61256304px 0 1px rgba(0, 30, 255, 0.2), -1.61256304px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  30% {
    text-shadow: 0.70155901px 0 1px rgba(0, 30, 255, 0.2), -0.70155901px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  35% {
    text-shadow: 3.89691405px 0 1px rgba(0, 30, 255, 0.2), -3.89691405px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  40% {
    text-shadow: 3.87090561px 0 1px rgba(0, 30, 255, 0.2), -3.87090561px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  45% {
    text-shadow: 2.23105696px 0 1px rgba(0, 30, 255, 0.2), -2.23105696px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429px 0 1px rgba(0, 30, 255, 0.2), -0.0808429px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  55% {
    text-shadow: 2.37584611px 0 1px rgba(0, 30, 255, 0.2), -2.37584611px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  60% {
    text-shadow: 2.20219305px 0 1px rgba(0, 30, 255, 0.2), -2.20219305px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  65% {
    text-shadow: 2.86387806px 0 1px rgba(0, 30, 255, 0.2), -2.86387806px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025px 0 1px rgba(0, 30, 255, 0.2), -0.48874025px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  75% {
    text-shadow: 1.89484913px 0 1px rgba(0, 30, 255, 0.2), -1.89484913px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  80% {
    text-shadow: 0.08330373px 0 1px rgba(0, 30, 255, 0.2), -0.08330373px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827px 0 1px rgba(0, 30, 255, 0.2), -0.09769827px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  90% {
    text-shadow: 3.44333976px 0 1px rgba(0, 30, 255, 0.2), -3.44333976px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  95% {
    text-shadow: 2.18418389px 0 1px rgba(0, 30, 255, 0.2), -2.18418389px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
  100% {
    text-shadow: 2.62087645px 0 1px rgba(0, 30, 255, 0.2), -2.62087645px 0 1px rgba(255, 0, 80, 0.2), 0 0 3px;
  }
}
/*--------------------------------*
 *             fonts.             *
 *--------------------------------*/
/*--------------------*
 *      font for:     *
 *     h1, h2, h3,    *
 *     h4, h5, h6     *
 *--------------------*/
@font-face {
  font-family: "Alkhemikal";
  src: url(/files/fonts/Alkhemikal.ttf);
}
/*--------------------*
 *      font for:     *
 *  .title-bar__text  *
 *--------------------*/
@font-face {
  font-family: "Awfully Digital";
  src: url(/files/fonts/AwfullyDigital.ttf);
}
/*--------------------*
 *      font for:     *
 *        body        *
 *--------------------*/
@font-face {
  font-family: "Dogica Pixel";
  src: url(/files/fonts/dogicapixel.ttf);
}
@font-face {
  font-family: "Dogica Pixel Bold";
  src: url(/files/fonts/dogicapixelbold.ttf);
  font-weight: bold;
}
/*--------------------*
 *      font for:     *
 *   .start__title    *
 *--------------------*/
@font-face {
  font-family: "Kiwi Soda";
  src: url(/files/fonts/KiwiSoda.ttf);
}
/*--------------------*
 *      font for:     *
 *   button, inputs,  *
 *  .status-bar, etc. *
 *--------------------*/
@font-face {
  font-family: "Modern DOS 8x16";
  src: url(/files/fonts/ModernDOS8x16.ttf);
}
