/*--------------------*
 *      font for:     *
 *     h1, h2, h3,    *
 *     h4, h5, h6     *
 *--------------------*/
@font-face {
  font-family: "Alkhemikal";
  src: url(/files/fonts/Alkhemikal.ttf);
}

/*--------------------*
 *      font for:     *
 *  .title-bar__text  *
 *--------------------*/
@font-face {
  font-family: "Awfully Digital";
  src: url(/files/fonts/AwfullyDigital.ttf);
}

/*--------------------*
 *      font for:     *
 *        body        *
 *--------------------*/
@font-face {
  font-family: "Dogica Pixel";
  src: url(/files/fonts/dogicapixel.ttf);
}

@font-face {
  font-family: "Dogica Pixel Bold";
  src: url(/files/fonts/dogicapixelbold.ttf);
  font-weight: bold;
}

/*--------------------*
 *      font for:     *
 *   .start__title    *
 *--------------------*/
@font-face {
  font-family: "Kiwi Soda";
  src: url(/files/fonts/KiwiSoda.ttf);
}

/*--------------------*
 *      font for:     *
 *   button, inputs,  *
 *  .status-bar, etc. *
 *--------------------*/
@font-face {
  font-family: "Modern DOS 8x16";
  src: url(/files/fonts/ModernDOS8x16.ttf);
}